/* Styling for table headers */
#data-table thead td {
    font-weight: bold; 
    background-color: orangered; 
    padding: 8px; 
    border: 3px solid black; 
}

/* Styling for table rows and cells */
#data-table tbody td {
    padding: 8px; 
    border: 3px solid black; 
    text-align: left; 
    border: 3px solid black; 

}

#text{
    padding: 0px;
    margin-top: 10px;
    border-style: solid; 
    font-weight: bold

}

#picture-body img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    margin-top: 100px; 
    
}


table {
    width: 100%; 
    margin-top: 20px; 
}


#data-table {

    font-weight: bold;
    padding: 8px; 
    border: 3px solid black; 
}

button {
    background-color: rgb(255, 183, 0);
    color: black; 
    padding: 8px 16px;
    margin-top: 5px;
    border: 3px solid black; 

}
